<?xml version="1.0"?>
<robot name="freely_rotating_hook" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="freely_rotating_hook" params="prefix parent *origin">

        <!-- Please mind: This joint is actually passive, but in order to help moveit plan the trajectory we make it active -->
        <xacro:basic_joint 
            parent="${prefix}${parent}"
            joint_name="${prefix}door_opening_mechanism_joint_freely_rotating_hook"
            joint_type="revolute" 
            axis_x="1"
            axis_y="0"
            axis_z="0"
            lower_limit="-3.14"
            upper_limit="3.14"
            damping="0.05"
            friction="0.1"
            p_gain="500"
            i_gain="1000"
            d_gain="10"
            link_name="${prefix}door_opening_mechanism_link_freely_rotating_hook"
            link_origin_x="0.0"
            link_origin_y="0.0"
            link_origin_z="0.0"
            m="0.2"
            x="0.03"
            y="0.03"
            z="0.03"
            r="1"
            g="0"
            b="1">
            <xacro:insert_block name="origin" />
            <!-- <origin xyz="-0.026 0.02 0" rpy="0 0 0"/> -->
        </xacro:basic_joint>

        <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/components/hook.urdf.xacro" />
        <xacro:hook prefix="${prefix}" suffix="" parent="${prefix}door_opening_mechanism_link_freely_rotating_hook" r="1" g="0" b="1">
            <origin xyz="0.01 0.0 0.0" rpy="0 0 -1.57079632679"/>
        </xacro:hook>

    </xacro:macro>
</robot>