<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rb_theron_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="door_opening_mechanism_joint_y_axis_slide">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['door_opening_mechanism_joint_y_axis_slide']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="door_opening_mechanism_joint_x_axis_slide">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['door_opening_mechanism_joint_x_axis_slide']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="door_opening_mechanism_joint_rotating_arm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['door_opening_mechanism_joint_rotating_arm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="door_opening_mechanism_joint_freely_rotating_hook">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['door_opening_mechanism_joint_freely_rotating_hook']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
