<?xml version="1.0"?>
<robot name="basic_box" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="box_inertia_robot" params="m x y z">
        <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                iyy="${m*(x*x+z*z)/12}" iyz = "0"
                izz="${m*(x*x+y*y)/12}" />
    </xacro:macro>

    <xacro:macro name="basic_box" params="parent joint_name link_name m x y z r g b *origin">

    <joint name="${joint_name}" type="fixed" >
        <parent link="${parent}" />
        <child link="${link_name}" />
        <xacro:insert_block name="origin" />
    </joint>

    <link name="${link_name}">
        <inertial>
            <mass value="${m}" />
            <origin xyz="0 0 0" />
            <xacro:box_inertia_robot m="${m}" x="${x}" y="${y}" z="${z}"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${x} ${y} ${z}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${x} ${y} ${z}"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="${link_name}">
        <visual>
            <material>
                <!-- RGBA -->
                <ambient>${r} ${g} ${b} 1</ambient>
                <diffuse>${r} ${g} ${b} 1</diffuse>
                <specular>${r} ${g} ${b} 1</specular>
            </material>
        </visual>
    </gazebo>

    </xacro:macro>
</robot>