<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS CONTROL GAZEBO PLUGIN -->
    <xacro:macro name="ros_control" params="prefix publish_bf">
        <gazebo>
            <!-- <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
				<parameters>$(find rb_theron_description)/config/rb_theron_controller.yaml</parameters>
			</plugin> -->

            <plugin filename="libgz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            </plugin>

            <plugin filename="libgz-sim-diff-drive-system.so" name="gz::sim::systems::DiffDrive">
                <left_joint>$(arg prefix)left_wheel_joint</left_joint>
                <right_joint>$(arg prefix)right_wheel_joint</right_joint>

                <wheel_separation>0.5032</wheel_separation>
                <wheel_radius>0.0762</wheel_radius>

                <odom_publish_frequency>30</odom_publish_frequency>
                <topic>cmd_vel</topic>

                <frame_id>$(arg prefix)odom</frame_id>

                <!-- There is no possiblity (as far as I know) to disable tf publishing of odom->base, so if you
				don't want the tf to be published, you can just dump it into a different topic -->
                <!-- <tf_topic>tf_dump</tf_topic> -->

                <xacro:if value="${publish_bf}">
                    <child_frame_id>$(arg prefix)base_footprint</child_frame_id>
                </xacro:if>
                <xacro:unless value="${publish_bf}">
                    <child_frame_id>$(arg prefix)base_link</child_frame_id>
                </xacro:unless>
            </plugin>
        </gazebo>

    </xacro:macro>

    <xacro:macro name="gazebo_colors" params="prefix">
        <gazebo reference="$(arg prefix)base_footprint">
            <material>Gazebo/Green</material>
        </gazebo>

        <gazebo reference="$(arg prefix)base_link">
            <material>Gazebo/Grey</material>
        </gazebo>

        <gazebo reference="$(arg prefix)front_cover_link">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

</robot>
