<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="sensor_imu_hector" params="prefix topic:='imu/data' parent *origin">

		<xacro:if value="${publish_bf}">
			<xacro:property name="sensor_link_name" value="${robot_name}/base_footprint/${prefix}_link" />
		</xacro:if>
		<xacro:unless value="${publish_bf}">
			<xacro:property name="sensor_link_name" value="${robot_name}/base_link/${prefix}_link" />
		</xacro:unless>

		<joint name="${prefix}_joint" type="fixed">
			<axis xyz="1 0 0"/>
			<!--origin xyz="0 0 0.2825"/-->
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${sensor_link_name}"/>
		</joint>

		<link name="${sensor_link_name}">
			<inertial>
				<origin xyz="0.0 0 0.01" rpy="0 0 0" />
				<mass value="0.05" />
				<xacro:solid_cuboid_inertia m="0.05" w="0.02" h="0.02" d="0.02" />
			</inertial>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.001 0.001 0.001"/>
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size=".001 .001 .001"/>
				</geometry>
			</collision>
		</link>

		<gazebo reference="${sensor_link_name}">
			<sensor name="${prefix}_link" type="imu">
				<always_on>1</always_on>
				<update_rate>40</update_rate>
				<visualize>true</visualize>
				<topic>imu/data</topic>

				<imu>
					<!-- <orientation>
						<x>
							<noise type="gaussian">
							<mean>0.0</mean>
							<stddev>2e-3</stddev>
							</noise>
						</x>
						<y>
							<noise type="gaussian">
							<mean>0.0</mean>
							<stddev>2e-3</stddev>
							</noise>
						</y>
						<z>
							<noise type="gaussian">
							<mean>0.0</mean>
							<stddev>2e-3</stddev>
							</noise>
						</z>
					</orientation> -->
					<angular_velocity>
						<x>
							<noise type="gaussian">
							<mean>-6.891833422462714e-06</mean>
							<stddev>8e-4</stddev>
							</noise>
						</x>
						<y>
							<noise type="gaussian">
							<mean>5.573454556580949e-06</mean>
							<stddev>8e-4</stddev>
							</noise>
						</y>
						<z>
							<noise type="gaussian">
							<mean>2.2874845472251395e-05</mean>
							<stddev>8e-4</stddev>
							</noise>
						</z>
					</angular_velocity>
					<linear_acceleration>
						<x>
							<noise type="gaussian">
							<mean>-0.04043025669594404</mean>
							<stddev>1.7e-2</stddev>
							</noise>
						</x>
						<y>
							<noise type="gaussian">
							<mean>-0.06055433811655909</mean>
							<stddev>1.7e-2</stddev>
							</noise>
						</y>
						<z>
							<noise type="gaussian">
							<mean>0.126181450210968</mean>
							<stddev>1.9e-2</stddev>
							</noise>
						</z>
					</linear_acceleration>
				</imu>

			</sensor>
		</gazebo>

		<gazebo>
			<plugin
				filename="libgz-sim-imu-system"
				name="gz::sim::systems::Imu">
			</plugin>
		</gazebo>
	</xacro:macro>

</robot>
