<?xml version="1.0"?>
<robot name="door_opening_mechanism" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="box_inertia_robot" params="m x y z">
        <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                iyy="${m*(x*x+z*z)/12}" iyz = "0"
                izz="${m*(x*x+z*z)/12}" />
    </xacro:macro>

    <xacro:macro name="door_opening_mechanism" params="prefix parent *origin hq">

        <!-- Element imports -->
        <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/components/alu_profile.urdf.xacro" />
        <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/basic_elements/basic_box.urdf.xacro" />
        <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/basic_elements/basic_joint.urdf.xacro" />

        <!-- Please mind: We might need to set the settings for the mass extremly low, because there
        is an issue, that if there is too much load on the theron base, it would be able to drive
        properly, because this makes some of the wheels lose contact to the ground and 
        therefore steering of the rb_theron becomes impossible. -->

        <!-- Base link -->
        <xacro:property name="door_opening_mechanism_base_link" value="${prefix}door_opening_mechanism_base_link" />
        <xacro:basic_box 
            parent="${parent}"
            joint_name="${prefix}door_opening_mechanism_joint"
            link_name="${door_opening_mechanism_base_link}"
            m="0.001"
            x="0.001"
            y="0.001"
            z="0.001"
            r="0"
            g="1"
            b="1">
            <xacro:insert_block name="origin" />
        </xacro:basic_box>

        <!-- Aluprofile frame -->
        <xacro:alu_profile prefix="${prefix}" suffix="bottom" parent="${door_opening_mechanism_base_link}" x="0.03" y="0.03" z="0.46" r="0.1" g="0.1" b="0.1" >
            <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
        </xacro:alu_profile>
        <xacro:alu_profile prefix="${prefix}" suffix="left" parent="${door_opening_mechanism_base_link}" x="0.03" y="0.03" z="1.0" r="0.1" g="0.1" b="0.1" >
            <origin xyz="0 -0.245 0.515" rpy="0 0 0"/>
        </xacro:alu_profile>
        <xacro:alu_profile prefix="${prefix}" suffix="right" parent="${door_opening_mechanism_base_link}" x="0.03" y="0.03" z="1.0" r="0.1" g="0.1" b="0.1" >
            <origin xyz="0 +0.245 0.515" rpy="0 0 0"/>
        </xacro:alu_profile>
        <xacro:alu_profile prefix="${prefix}" suffix="top" parent="${door_opening_mechanism_base_link}" x="0.03" y="0.03" z="0.52" r="0.1" g="0.1" b="0.1" >
            <origin xyz="0 0 1.03" rpy="1.57079632679 0 0"/>
        </xacro:alu_profile>

        <!-- Door opening mechanism -->
        <xacro:basic_box 
            parent="${door_opening_mechanism_base_link}"
            joint_name="${prefix}door_opening_mechanism_joint_y_axis_rail"
            link_name="${prefix}door_opening_mechanism_link_y_axis_rail"
            m="2.64"
            x="0.06"
            y="0.06"
            z="0.56"
            r="0"
            g="1"
            b="1">
            <origin xyz="-0.015 0.2 0.55" rpy="0 0 0"/>
        </xacro:basic_box>

        <xacro:basic_joint 
            parent="${prefix}alu_profile_link_right"
            joint_name="${prefix}door_opening_mechanism_joint_y_axis_slide"
            joint_type="prismatic"
            axis_x="0"
            axis_y="1"
            axis_z="0"
            lower_limit="-0.05"
            upper_limit="0.25"
            damping="0.1"
            friction="0.3"
            p_gain="50000"
            i_gain="1000"
            d_gain="5000"
            link_name="${prefix}door_opening_mechanism_link_y_axis_slide"
            link_origin_x="0.0"
            link_origin_y="0.0"
            link_origin_z="0.0"
            m="2.64"
            x="0.06"
            y="0.06"
            z="0.55"
            r="1"
            g="0"
            b="0">
            <origin xyz="-0.075 -0.225 -0.1" rpy="1.57079632679 0 0"/>
        </xacro:basic_joint>

        <xacro:basic_joint 
            parent="${prefix}door_opening_mechanism_link_y_axis_slide"
            joint_name="${prefix}door_opening_mechanism_joint_x_axis_slide"
            joint_type="prismatic"
            axis_x="0"
            axis_y="0"
            axis_z="1"
            lower_limit="-0.175"
            upper_limit="0.20"
            damping="0.1"
            friction="0.3"
            p_gain="50000"
            i_gain="100"
            d_gain="5000"
            link_name="${prefix}door_opening_mechanism_link_x_axis_slide"
            link_origin_x="0.0"
            link_origin_y="0.0"
            link_origin_z="0.0"
            m="1"
            x="0.065"
            y="0.015"
            z="0.175"
            r="1"
            g="1"
            b="1">
            <origin xyz="-0.04 0 0" rpy="0 0 1.57079632679"/>
        </xacro:basic_joint>

        <xacro:basic_box
            parent="${prefix}door_opening_mechanism_link_x_axis_slide"
            joint_name="${prefix}door_opening_mechanism_joint_x_axis_slide_screwing"
            link_name="${prefix}door_opening_mechanism_link_x_slide_screwing"
            m="1"
            x="0.073"
            y="0.015"
            z="0.175"
            r="1"
            g="1"
            b="1">
            <origin xyz="0.038 -0.027 0" rpy="0 0 1.57079632679"/>
        </xacro:basic_box>

        <!-- Tilting arm -->
        <!-- <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/arm_variations/tilting_arm.urdf.xacro" />
        <xacro:tilting_arm prefix="${prefix}" parent="${prefix}door_opening_mechanism_link_x_slide_screwing" >
            <origin xyz="0 -0.025 0" rpy="0 1.57079632679 0"/>
        </xacro:tilting_arm> -->

        <!-- Rotating arm -->
        <xacro:include filename="$(find rb_theron_description)/urdf/door_opening_mechanism/arm_variations/rotating_arm.urdf.xacro" />
        <xacro:rotating_arm prefix="${prefix}" parent="${prefix}door_opening_mechanism_link_x_slide_screwing" arm_length="0.3" >
            <origin xyz="0.05 -0.025 0" rpy="0 0 1.57079632679"/>
        </xacro:rotating_arm>

    </xacro:macro>
</robot>